#banner {
  display: inline-flex;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
}

#banner li {
  display: inline;
  justify-content: space-around;
  list-style: none;
}

#main_stories {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
  justify-content: space-between;
  text-align: center;
}

#main_stories .main {
  background-image: url(../Main_Story_Banner.png);
  height: auto;
}

#main_stories .fall {
  background-image: url(../Autumn.png);
}

#main_stories .photographer {
  background-image: url(../Cameraman.png);
}

#center_stories {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  text-align: center;
}

#side_bar {
  display: inline-flex;
  flex-direction: column;
  width: 240px;
  justify-content: space-between;
  text-align: center;
}

#side_bar span {
  font-size: 16px;
  font-weight: bold;
}

#side_bar li {
  list-style: none;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  color: dimgray;
  font-size: 12px;
  font-family: Verdana;
}

#footer {
  background-color: mediumaquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
}

#footer .name {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#footer li {
  list-style: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black
}

a:active {
  color: black;
}
