#banner {
  display: inline;
}

#banner li {
  display: inline;
  justify-content: space-around;
  list-style:none;
}

#main_stories {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
  justify-content: space-between;
}

#center_stories {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}

#side_bar {
  display: inline-flex;
  flex-direction: column;
  width: 240px;
  justify-content: space-between;
}

#footer li {
  list-style: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black
}

a:active {
  color: black;
}
